main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 15%;
    border: 3px solid #4e9a06;
}

#resume-text {
    padding-left: 10rem;
}