main {
    width: 100%;
}

#resume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    width: 6.25rem;
    margin: var(--spacing-md) 0;
    background-color: var(--color-bg);
    color: var(--color-primary);
    border: 0.0625rem solid var(--color-primary);
    border-radius: 0.5rem;
    cursor: pointer;
}

#resume-button:hover {
    border-color: var(--color-hover);
}