body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    background-color: black;
    color: #4e9a06;
    flex-direction: column;
    font-family: 'Fira Code', monospace;
}

body a {
    text-decoration: none;
    color: #4e9a06;
}

body a:hover {
    color: #60bc09;
}

body a:visited {
    color: #4e9a06;
}

header {
    color: #4e9a06;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.005rem 0.30rem #4e9a06;
    margin-bottom: 20rem;
}

#logo {
    padding-left: 0.625rem;
}

header nav {
    display: flex;
    list-style-type: none;
}

header nav li {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ascii-block {
    padding-right: 15rem;
}

footer {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -0.005rem 0.30rem #4e9a06;
    font-size: small;
}
