body {
    margin: 0;
    display: flex;
    background-color: black;
    flex-direction: column;
    font-family: 'Fira Code', monospace;
}

header {
    color: #4e9a06;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.005rem 0.30rem #4e9a06;
}

#logo {
    padding-left: 0.625rem;
}
#logo a {
    text-decoration: none;
}

#logo a:visited {
    color: #4e9a06;
}

#logo a:hover {
    color: #60bc09;
}

header nav {
    display: flex;
    list-style-type: none;
}

header nav li {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

header nav li a {
    text-decoration: none;
    color: #4e9a06;
}

header nav li a:hover {
    color: #60bc09;
}
