main {
    flex-direction: row;
}

main img {
    margin: 0.625rem;
    width: 25rem;
    max-width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: top;
    border-radius: 15%;
    border: 0.1875rem solid var(--color-primary);
}

#resume-text {
    padding-left: 10rem;
}